################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JokesWebApp/.vs/JokesWebApp/FileContentIndex/5cdc8d01-d287-4f3d-abf0-a4eeec190588.vsidx
/JokesWebApp
